{% extends "base.html" %} {% block title %}{{ page }}{% endblock %} {% block
content %}
<!-- START MAIN CONTAINER -->
<div class="container-fluid">
  <div class="row">
    <!-- START SIDENAV -->
    <div class="side-nav col-lg-3 col-md-12">
      <!-- START NEW CHAT BUTTON -->
      <div class="row p-2">
        <div class="chat-btn d-flex align-items-center">
          <span class="d-block">{{ page }}</span>
        </div>
      </div>

      <!-- START MODELS -->
      <div class="row p-2">
        <label for="gpt-model" class="form-label">Model</label>
        <select name="gpt-model" id="gpt-model" class="form-select gpt-model">
          {% if models %} {% for model_id in models %}
          <option value="{{ model_id}}">{{ model_id }}</option>
          {% endfor %} {% endif %}
        </select>
      </div>

      <!-- START TEMPERATURE -->
      <div class="row p-2">
        <div class="col-12">
          <p class="form-label">Temperature</p>
        </div>
        <div class="col-10">
          <input
            type="range"
            class="form-range w-100"
            min="0"
            max="1"
            step="0.1"
            id="gpt-temperature"
            name="gpt-temperature"
            value="0"
            oninput="tempValue.innerText = this.value"
          />
        </div>
        <div class="col-2 text-end">
          <output id="tempValue" for="gpt-temperature">0</output>
        </div>
      </div>

      <!-- START MAXIMUM LENGTH -->
      <div class="row p-2">
        <div class="col-12">
          <p class="form-label">Maximum Length</p>
        </div>
        <div class="col-10">
          <input
            type="range"
            class="form-range w-100"
            min="0"
            max="2048"
            step="13"
            id="gpt-max-len"
            name="gpt-max-len"
            value="1500"
            oninput="maxLenValue.innerText = this.value"
          />
        </div>
        <div class="col-2 text-end">
          <output id="maxLenValue" for="gpt-max-len">1500</output>
        </div>
      </div>

      <!-- START TOP P -->
      <div class="row p-2">
        <div class="col-12">
          <p class="form-label">TopP</p>
        </div>
        <div class="col-10">
          <input
            type="range"
            class="form-range w-100"
            min="0"
            max="1"
            step="0.01"
            id="gpt-topP"
            name="gpt-topP"
            value="0.07"
            oninput="topPValue.innerText = this.value"
          />
        </div>
        <div class="col-2 text-end">
          <output id="topPValue" for="gpt-topP">0.07</output>
        </div>
      </div>

      <!-- START FREQUENCY PENALTY -->
      <div class="row p-2">
        <div class="col-12">
          <p class="form-label">Frequency Penalty</p>
        </div>
        <div class="col-10">
          <input
            type="range"
            class="form-range w-100"
            min="0"
            max="2"
            step="0.01"
            id="gpt-frequency"
            name="gpt-frequency"
            value="1"
            oninput="frequencyValue.innerText = this.value"
          />
        </div>
        <div class="col-2 text-end">
          <output id="frequencyValue" for="gpt-frequency">1</output>
        </div>
      </div>

      <!-- START PRESENCE PENALTY -->
      <div class="row p-2">
        <div class="col-12">
          <p class="form-label">Presence Penalty</p>
        </div>
        <div class="col-10">
          <input
            type="range"
            class="form-range w-100"
            min="0"
            max="2"
            step="0.01"
            id="gpt-precence"
            name="gpt-precence"
            value="0.5"
            oninput="precenceValue.innerText = this.value"
          />
        </div>
        <div class="col-2 text-end">
          <output id="precenceValue" for="gpt-precence">0.5</output>
        </div>
        <ul class="list-unstyled">
          <!-- START SETTINGS -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-wrench"></i> Settings
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- START CONTENT -->
    <div class="content p-0 pt-2 col-lg-9 col-md-12">
      <div id="list-group" class="chat-content-area"></div>
      <!-- START CHAT INPUTS -->
      <div class="chat-input-area overflow-hidden">
        <div class="row">
          <div class="col-12 chat-inputs-area-inner">
            <div class="row chat-inputs-container d-flex align-items-center">
              <textarea
                name="chat-input"
                id="chat-input"
                class="col-11"
                placeholder="Ask anything"
              ></textarea>
              <button id="gpt-button" class="col-1 btn btn-primary">
                <span
                  ><i class="bi bi-cursor-fill" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- START EXTERNAL JS RESOURCES -->
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"
></script>
<script>
  $("#gpt-button").click(function () {
    var question = $("#chat-input").val();
    let html_data = "";
    html_data += `
          <div class="row user-chat-box">
              <div class="chat-icon">
                <img
                  class="chatgpt-icon"
                  src="{{ url_for('static', filename='images/user-icon.png') }}"
                />
              </div>
              <div class="chat-txt">${question}</div>
          </div>`;
    $("#chat-input").val("");
    $("#list-group").append(html_data);
    $.ajax({
      type: "POST",
      url: "{{ url_for('chatbot_v2') }}",
      data: {
        prompt: question,
      },
      success: function (data) {
        let gpt_data = "";
        gpt_data += `
        <div class="row gpt-chat-box">
	<div>
		<ul class="list-group list-group-horizontal" >
			<li class="responseTools list-group-item border-0">
				<button class="btn">
					<i class="bi bi-sign-intersection-t-fill"></i> ${data.count_tokens}
				</button>
			</li>
		</ul>
	</div>
	<div class="chat-icon">
		<img
                  class="chatgpt-icon"
                  src="{{ url_for('static', filename='images/chatgpt-icon.jpg') }}"
                />
	</div>
	<div class="chat-txt js-copytextarea_new">
                ${data.content}
              </div>
</div>
            `;
        $("#list-group").append(gpt_data);

        //put text into a textarea, select it and remove the tag after copy
        $(".copyboard").on("click", function (e) {
          e.preventDefault();

          var copyText = $(this).attr("data-text");

          var textarea = document.createElement("textarea");
          textarea.textContent = copyText;
          textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in MS Edge.
          document.body.appendChild(textarea);
          textarea.select();
          document.execCommand("copy");

          document.body.removeChild(textarea);
        });
      },
      error: function (data) {
        let gpt_data = "";
        gpt_data += `
          <!-- START GPT CHAT -->
            <div class="row gpt-chat-box">
              <div class="chat-icon">
                <img
                  class="chatgpt-icon"
                  src="{{ url_for('static', filename='images/chatgpt-icon.jpg') }}"
                />
                <ul class="list-inline list-group-flush">
                    <li class="custom_list_item list-inline-item"><button class="btn"><i class="bi bi-sign-intersection-t-fill"></i> ${data.count_tokens}</li>
                </ul>
              </div>
              <div class="chat-txt js-copytextarea">
                ${data.answer}
              </div>
            </div>
            `;
        $("#list-group").append(gpt_data);
      },
    });
  });
</script>
<!-- <script>
  $(".copyboard").on("click", function (e) {
    e.preventDefault();
    var copyText = $(this).attr("data-text");
    var textarea = document.createElement("textarea");
    textarea.textContent = copyText;
    textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in MS Edge.
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");

    document.body.removeChild(textarea);
  });
</script> -->
{% endblock %}
