{% extends "base.html" %} {% block title %}{{page}}{% endblock %} {% block
content %}
<div class="container">
  <br />
  <br />
  <h1 class="mt-1">Get Started with ChatGPT API from OpenAI</h1>
  <p class="lead">
    This project is created for educational purposes and demonstrates the use of
    ChatGPT API from OpenAI. To get started you will need the following:
  </p>
  <ul>
    <li>
      OpenAI API Key, which you can get here:
      <a href="https://openai.com/product#made-for-developers"
        >OpenAI Website</a
      >
    </li>
  </ul>
</div>
{% endblock %}
