{% extends "base.html" %} {% block title %}{{page}}{% endblock %} {% block
content %}
<div class="container">
    <br />
    <br />
    <h1 class="mt-1">Setup ChatGPT</h1>
    <p class="lead">Each message has two properties: role and content. Set the role and content of the Chatbot.</p>
    <form class="row row-cols-lg-auto g-1 align-items-center" method="post">
        <div class="mb-3">
            <label for="exampleInputRole1" class="form-label">Role</label>
            <select id="role" name="role" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Open this select menu</option>
                <option value="1">system</option>
                <option value="2">user</option>
                <option value="3">assistant</option>
            </select>
            <div id="roleHelp" class="form-text">
                The 'role' can take one of three values: either 'system', 'user' or the
                'assistant'.
            </div>
        </div>
        {% if rows %}
        <div class="mb-3">
            <label for="exampleInputRole1" class="form-label">Content</label>
            <select id="content_list" name="content_list" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Open this select menu</option>
                {% for row in rows %}
                <option value="{{row["content"]}}">{{row["content"]}}</option>
                {% endfor %}
            </select>
            <div id="roleHelp" class="form-text">
                The 'content' contains the text of the message from the role.The system.
                instruction can give high level instructions for the conversation.
                <br>
                <b>** {% if session.chat_content %}
                    Current content: {{ session.chat_content }}
                    {% else %}
                    Current content: None
                    {% endif %} **</b>
            </div>
        </div>
        {% endif %}
        <div class="input-group-append">
            <button id="gpt-button" class="btn btn-primary">Setup ChatGPT</button>
        </div>
    </form>
</div>
{% endblock %}